body{
  background: radial-gradient(rgb(7, 7, 7),gray);
}
.app{
  min-height: 100vh;
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
}
img{
  height:200px;
  width: 200px;
}
.test{
  display: flex;
  height: 270px;
  width: 250px;
  border: solid white 1px;
  justify-content: center;
  align-items: center;
  margin-left:50px;
  flex-direction: column;
  background-color: whitesmoke;
}